$color-font-base: #b4b4b4;
$color-font-accent: #ffffff;
$color-font-accent-2: #c2378a;
$color-font-add-1: #b4b4b4;
$color-font-add-2: #252525;

$color-bg-base: #101010;
$color-bg-add-1: #0d0d0d;
$color-bg-add-2: #4d4d4d;
$color-bg-add-3: #b4b4b4;

$media-mobile: "screen and (max-width: 550px)";
