---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/sections/HeroSection.vue";
import DynamicBackground from "../components/misc/DynamicBackground.vue";
import USPSection from "../components/sections/USPSection.vue";
import PartyBotSection from "../components/sections/PartyBotSection.vue";
import CVSection from "../components/sections/CVSection.vue";
import ProjectsSection from "../components/sections/ProjectsSection.vue"
---

<BaseLayout class="layout">
  <!-- <DynamicBackground class="layout__dynamic-bg" client:only />
  <HeroSection client:load />
  <USPSection client:visible />
  <CVSection client:visible /> -->
  <ProjectsSection client:visible />
  <div style="margin: 300px 0"></div>
</BaseLayout>

<style lang="scss">
  .layout {
    &__dynamic-bg {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
</style>
