---
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/base.scss";

const { title = "maysky", description = "Personal website" } = Astro.props;
---

<script>
  import { getScroll } from "../scripts/scroll";
  getScroll();
</script>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="author" content="maysky" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
